@{
    ViewBag.Title = "Home |  ";
}

<div class="jumbotron">
    <h1>Team Players Records App</h1>
    <p class="lead">This App is a Record Holder for Teams and Team Players Details.</p>
    <p><a href="/Teams" class="btn btn-primary btn-lg">Manage Teams</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Teams</h2>
        <p>
            This Module Covers CRUD Operations for Teams. It includes Functionality to Create a New Team, Edit Team Details, View Team List and Delete a Team From Database.
        </p>
        <p><a class="btn btn-default" href="/Teams">Manage Teams &raquo;</a></p>
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        <h2>Manage Team Players</h2>
        <p>This Module Covers CRUD Operations for Team Players. It includes Functionality to Add A New Team Player, Edit Team Player Details, View Players List in Team and Delete a Player From Team.</p>
        <p><a class="btn btn-default" href="/TeamPlayers">Manage Team Players &raquo;</a></p>
    </div>
</div>